/*©2016 Casey Hayes & Tanner McIntyre. All Rights Reserved.*/

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  border: 2px solid darkblue;
  margin: auto;
}

h1 {
  color: darkblue;
  margin-left: 1em;
}

p {
  margin: .25em;
}

footer {
  border-top: 2px solid darkblue;
  margin-top: 1.5em;
}

footer p {
  margin: 1em 1em 1em 2em;
}

.error{
  margin: 1em 0 1em 2em;
}

/* Screens bigger than 400px */

@media screen and (min-width: 401px) {
  
  body {
    max-width: 600px;
    min-width: 485px;
  }
  
  .left {
    float: left;
    padding-right: 1em;
    text-align: right;
    width: 15em;
  }
  
  .right {
    margin: 0 0 0 2em;
  }
  
  #submit {
    margin-left: 16em;
  }  
}

/* Screens smaller than 401px */

@media screen and (max-width: 400px) {
  
  body {
    margin: auto;
    min-width: 235px;
    width: 95%;
  }
  
  h1 {
    font-size: 1.25em;
    margin-left: 1.75em;
  }
  
  .line{
      white-space: nowrap;
  }
  
  .line > div{
      display:inline;
  }
  
  .left {
    margin: 1em 0 1em 2em;
    width: 80%;
  }
  
  .right {
    height: 2em;
    margin: 0 0 0 2em;
    width: 12em;
  }
  
  #submit {
    width: auto;
  }
}